.info-link {
  display: inline-block;
  border: 1px solid black;
}

.carousel {
  width: 100%;
  height: 100%;
}

#About {
  height: 100%;
}

/* WE ARE USING HIDDEN CLASSES WITHIN CAROUSEL WE SHOULD FIND A BETTER WAY */
.slider-wrapper {
  height: 100%;
  justify-content: center;
  display: flex;
}

.slider { 
  height: 100%;
}

.slide {
  background-color: #EBF3FF !important;
  display: flex;
  justify-content: center;
  align-items: center;
}